:root{
    #__nuxt {
        font-family: var(--font-family-main);

        .hidden {
            visibility: hidden;
        }

        .btn-primary {
            background: var(--color-blue);
        }
        .btn-danger {
            background: var(--color-red);
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-blue);
        border-radius: 6px;
    }

    ::-webkit-scrollbar {
        height: 0;
    }
}

